/* line 6, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
.header {
  position: fixed;
  width: 100%;
  padding: 0px 20px;
  z-index: 100;
  color: #222222;
  box-shadow: 0 2px 6px 0px rgba(0, 0, 0, 0.3);
  display: grid;
  grid-template-areas: "navbar-brand search-bar-container username-dropdown";
  grid-template-columns: max-content auto max-content;
  grid-column-gap: 20px;
}

/* line 21, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
.header .dropdown-menu-right {
  left: unset !important;
  right: -80px;
}

/* line 25, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
.navbar-brand {
  grid-area: navbar-brand;
  width: max-content;
  margin: 0px;
}

/* line 31, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
.search-bar-container {
  grid-area: search-bar-container;
  width: 100%;
  max-width: 1024px;
  margin: 0px auto;
}

/* line 38, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
.username-dropdown {
  grid-area: username-dropdown;
  width: max-content;
  padding: 0px;
  margin: 0px;
  list-style-type: none;
}

@media (max-width: 768px) {
  /* line 52, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
  .page-container {
    grid-template-rows: 94px auto;
  }
  /* line 55, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
  .page-container .header {
    grid-template-areas: ". navbar-brand username-dropdown" "search-bar-container search-bar-container search-bar-container";
    grid-template-rows: max-content max-content;
    grid-column-gap: 0px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
  }
  /* line 63, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
  .page-container .header .navbar-brand {
    margin: 0px auto;
  }
  /* line 66, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
  .page-container .header .search-bar-container {
    margin: 0px -20px;
  }
  /* line 69, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
  .page-container .header .search-bar-container .form-inline {
    margin: 0px -20px;
  }
  /* line 72, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_common_header.sass */
  .page-container .header .username-dropdown {
    position: absolute;
    right: 0px;
  }
}

/*# sourceMappingURL=../css/BV_common_header.map */