/* line 3, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
body {
  background: url("../images/background_home.jpg") no-repeat center top fixed;
  background-size: cover;
}

/* line 7, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
.page-content {
  grid-template-rows: 2.35em auto 4.7em;
  grid-template-areas: "header" "content" "footer";
}

/* line 11, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
.content {
  align-self: center;
  text-align: center;
}

/* line 16, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
.content .bookviews-subtitle {
  opacity: 0.8;
  color: #f0f0f0;
  text-shadow: 0px 0px 10px #222222;
}

/* line 23, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
.dropdown-menu-right {
  position: absolute !important;
  transform: none !important;
  top: unset !important;
  right: -21px !important;
}

@media (max-width: 768px) {
  /* line 34, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  body {
    background-size: unset;
  }
  /* line 37, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover {
    margin: 0px 40px !important;
  }
  /* line 41, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .navbar-nav .dropdown-menu {
    position: absolute;
  }
}

@media (max-width: 534px) {
  /* line 46, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover {
    margin: 0px 10px !important;
  }
  /* line 49, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover .input-group {
    display: grid;
    grid-template-rows: auto auto;
    grid-template-areas: "form-control" "input-group-append";
  }
  /* line 54, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover .input-group input {
    font-size: 1rem;
    width: 100%;
    border-radius: 10px 10px 0 0 !important;
    padding: 10px 20px;
  }
  /* line 63, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover .input-group input::placeholder {
    font-size: 1rem;
  }
  /* line 67, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover .input-group .input-group-append button {
    width: 100%;
    border-radius: 0 0 10px 10px;
    background-color: #007bff;
    color: #fafafa;
    padding: .375rem 1rem;
  }
  /* line 78, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover .input-group .input-group-append .fa-search::after {
    content: " Search";
    font-family: Open Sans;
    font-weight: lighter;
  }
}

@media (max-width: 320px) {
  /* line 87, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover .input-group input {
    font-size: .9rem;
  }
  /* line 90, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .search-bar-cover .input-group input::placeholder {
    font-size: .9rem;
  }
  /* line 93, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .bookviews-logo-big {
    font-size: 56px;
  }
  /* line 96, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_home_page.sass */
  .bookviews-subtitle {
    font-size: .8rem;
    margin-left: 115px;
    margin-top: -24px;
  }
}

/*# sourceMappingURL=../css/BV_home_page.map */