/* line 3, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
body {
  background: url("../images/background_home.jpg") no-repeat center top fixed;
  background-size: cover;
}

/* line 7, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
.page-content {
  grid-template-rows: 2.35em auto 4.7em;
  grid-template-areas: "header" "content" "footer";
}

/* line 11, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
.content {
  align-self: center;
  text-align: center;
}

/* line 16, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
.login-register-container {
  display: grid;
  grid-template-columns: auto max-content auto;
  grid-template-areas: "register-form forms-separator login-form";
  max-width: 800px;
  margin: 0px auto;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;
  background-color: #fafafa;
  box-shadow: 0 0px 8px 2px rgba(0, 0, 0, 0.3);
}

/* line 31, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
.forms-separator {
  grid-area: forms-separator;
  width: 2px;
  background-color: rgba(0, 0, 0, 0.1);
}

/* line 36, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
.login-form,
.register-form {
  padding: 40px;
  border-radius: inherit;
}

/* line 42, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
.login-form {
  grid-area: login-form;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  background-color: rgba(0, 123, 255, 0.05);
}

/* line 50, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
.register-form {
  grid-area: register-form;
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
  background-color: lightyellow;
}

@media (max-width: 768px) {
  /* line 63, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .page-container {
    grid-template-rows: auto;
    grid-template-areas: "content";
  }
  /* line 67, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .login-register-container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: "login-form" "register-form";
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  /* line 80, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .login-form,
  .register-form {
    margin: auto;
    width: 100%;
  }
  /* line 86, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .login-form {
    border-radius: inherit;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 375px) {
  /* line 93, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  body {
    background: none;
    background-color: #fafafa;
  }
  /* line 96, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .login-form,
  .register-form {
    padding: 20px;
  }
  /* line 100, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .bookviews-logo-big {
    font-size: 3rem;
  }
  /* line 104, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .content .bookviews-subtitle {
    margin-top: -26px;
    font-size: 0.9rem;
  }
}

@media (max-width: 320px) {
  /* line 111, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  body {
    font-size: 90%;
  }
  /* line 114, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .bookviews-logo-big {
    font-size: 2.7rem;
  }
  /* line 118, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_index_page.sass */
  .content .bookviews-subtitle {
    margin-top: -24px;
  }
}

/*# sourceMappingURL=../css/BV_index_page.map */