/* line 3, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
body {
  margin: 0px;
  font-family: "Open Sans", Helvetica, Arial, Sans-Serif;
  font-size: 100%;
}

/* line 10, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.page-container {
  display: grid;
  grid-template-rows: 47px auto 94px;
  grid-template-areas: "header" "content" "footer";
  height: 100vh;
  width: 100%;
}

/* line 17, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.header {
  grid-area: header;
  text-align: center;
  line-height: 47px;
  color: #f0f0f0;
}

/* line 27, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.header .navbar {
  height: 47px;
}

/* line 30, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.header .nav-link {
  padding: 0px;
}

/* line 33, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.header .dropdown-menu {
  box-shadow: 0px 3px 6px -2px rgba(0, 0, 0, 0.3);
}

/* line 36, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.header .dropdown-menu-right {
  right: -20px;
  width: 205px;
  margin-top: 0px;
}

/* line 41, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.header .navbar-brand {
  padding: 0px;
}

/* line 44, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.header .dropdown-toggle {
  padding-right: 0px !important;
}

/* line 48, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.dropdown-menu {
  padding: 0px;
  background-color: #fafafa;
  color: #222222;
  border-radius: 0px 0px 0.25rem 0.25rem;
}

/* line 57, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.dropdown-menu .dropdown-item {
  padding: 0px 1rem;
}

/* line 60, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.dropdown-menu .dropdown-item:hover, .dropdown-menu .dropdown-item:focus, .dropdown-menu .dropdown-item:visited {
  background-color: #f0f0f0;
  color: #222222;
  border-radius: 0px;
}

/* line 69, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.dropdown-menu .dropdown-item:active {
  background-color: #007bff;
  color: #fafafa;
}

/* line 74, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.dropdown-menu .dropdown-divider {
  margin: 0px;
}

/* line 79, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.dropdown-menu .dropdown-item-bottom:hover, .dropdown-menu .dropdown-item-bottom:active, .dropdown-menu .dropdown-item-bottom:focus, .dropdown-menu .dropdown-item-bottom:visited,
.dropdown-menu .dropdown-item-top:hover,
.dropdown-menu .dropdown-item-top:active,
.dropdown-menu .dropdown-item-top:focus,
.dropdown-menu .dropdown-item-top:visited {
  border-radius: inherit;
}

/* line 86, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.content {
  grid-area: content;
}

/* line 89, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.content .bookviews-subtitle {
  margin-left: 130px;
  margin-top: -29px;
  font-size: 0.9rem;
  font-weight: bold;
  opacity: 0.7;
}

/* line 98, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.footer {
  grid-area: footer;
}

/* line 102, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.bookviews-logo-big, .bookviews-logo-header {
  color: #006ecc;
  font-weight: bold;
}

/* line 107, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.bookviews-logo-big {
  font-size: 64px;
  text-shadow: 0 0 10px #ffffbe;
}

/* line 120, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-cover input, .search-bar-header input {
  background-color: #e0e0e0;
  border: none;
  border-radius: 10px;
  padding: 0.5rem 1rem;
  color: #222222;
  font-size: 1.2rem;
  text-align: center;
  vertical-align: middle;
}

/* line 134, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-cover input::placeholder, .search-bar-header input::placeholder {
  color: #222222;
  opacity: 0.5;
  font-size: 1.2rem;
  vertical-align: middle;
}

/* line 142, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-cover input:focus, .search-bar-header input:focus {
  background-color: #fafafa;
  opacity: 1;
}

/* line 147, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-cover .btn, .search-bar-header .btn {
  padding: .375rem 1.75rem;
  border-radius: 10px;
  background-color: #e0e0e0;
  border-color: transparent;
  color: #222222;
}

/* line 157, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-cover {
  max-width: 768px;
}

/* line 161, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-header {
  height: 47px;
}

/* line 166, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-header input {
  font-size: 1.2rem;
  border-radius: 7px;
  text-align: left;
  padding-left: 1rem;
}

/* line 174, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-header input:focus {
  box-shadow: 0px 0px 20px 6px rgba(0, 0, 0, 0.3);
  border: 2px solid rgba(0, 109, 204, 0.3);
}

/* line 180, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.search-bar-header .btn {
  border-radius: 5px;
}

/* line 184, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.height-screen {
  height: 100vh;
}

/* line 187, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.badge {
  margin-left: 10px;
  margin-top: 2px;
  background: #006ecc;
  color: #fafafa;
}

/* line 195, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.text-shadow {
  text-shadow: 0 0 10px #222222;
}

/* line 199, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_master.sass */
.box-shadow-bottom img {
  box-shadow: 0 8px 6px -6px #222222;
}

/*# sourceMappingURL=../css/BV_master.map */