/* line 3, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.details-section {
  grid-template-rows: max-content max-content max-content auto;
  grid-template-areas: "book-title" "book-author" "book-year" "description-section";
}

/* line 7, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.cover-section {
  grid-area: cover-section;
}

/* line 11, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.book-cover img {
  height: 150px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 0px;
}

/* line 17, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.book-title {
  margin-top: 0px;
  font-size: 1.7em;
  font-weight: normal;
}

/* line 23, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.book-author {
  margin-top: 0px;
}

/* line 26, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.book-year,
.book-author {
  font-size: 0.9em;
}

/* line 31, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.review .rating-label {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: -10px;
}

/* line 37, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.review .rating-container {
  display: grid;
  grid-template-areas: "zero-button-container rater-widget rating-value-label not-rated-warning";
  grid-template-columns: max-content max-content max-content max-content;
}

/* line 42, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.review .star-rating {
  margin: 20px 0px;
}

/* line 50, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.review #rating-value-label {
  margin: 10px 0px;
  padding: 0px 10px;
  color: rgba(0, 0, 0, 0.5);
  line-height: 48px;
  font-size: 1.5em;
  font-weight: bold;
}

/* line 64, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.review .zero-button-container {
  display: grid;
}

/* line 67, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.review .zero-button {
  align-self: center;
  height: 28px;
  line-height: 26px;
  margin-right: 4px;
  padding: 0px 8px;
  color: rgba(0, 0, 0, 0.3);
  border-color: rgba(0, 0, 0, 0.3);
}

/* line 77, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.review .zero-button.active, .review .zero-button:hover {
  color: #fafafa;
}

/* line 81, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.popover {
  background-color: gold;
  font-weight: bold;
}

/* line 85, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
.popover .arrow::after {
  border-top-color: gold;
}

@media (max-width: 425px) {
  /* line 89, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
  .book-section {
    grid-column-gap: 10px;
  }
  /* line 92, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
  .details-section {
    grid-row-gap: 17px;
  }
  /* line 95, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
  .book-title {
    margin: -10px 0px;
  }
  /* line 98, D:/Base de Conhecimentos/Computer Science/Harvard/CS50 Web Programming with Python and JavaScript/Projects/project1-Hyuristyle/static/sass/BV_review_submit_page.sass */
  .book-author,
  .book-year {
    line-height: 16px;
  }
}

/*# sourceMappingURL=../css/BV_review_submit_page.map */