{% extends "common_layout.html" %}

{% block title %}
	Bookviews | {{ book.title }}
{% endblock %}

{% block local_stylesheet_2 %}
	<link rel="stylesheet" type="text/css" href="static/css/BV_book.css">
	<link rel="stylesheet" type="text/css" href="static/css/BV_book_page.css">
{% endblock %}

{% block content %}
	<!-- CONTENT -->
	<div class="container-fluid">
		<div class="book-info">
			<div class="book-section">
				<div class="cover-section">
					<div class="book-cover box-shadow-bottom">
						<img src="{{ book.cover }}">
					</div>
				</div>

				<div class="details-section">
					<div class="book-title float-left">
						{{ book.title }}
						<div class="reviewed float-right">
							Reviewed <i class="fas fa-check reviewed-icon"></i>
						</div>
					</div>

					<div class="book-rating">
						<div class="stars">
						{% set rating_fraction = (book.average_rating % 1)|round(1) %}
						{% set rating_int = (book.average_rating - (book.average_rating % 1|round(1)|round(1)))|int %}

						{% for star in range(rating_int) %}
							<span class="fa fa-star star-checked"></span>
						{% endfor %}
						
						{% if rating_fraction >= 0.5 %}
							<span class="fa fa-star-half star-checked"></span>
						{% endif %}
						
						{% for star in range(5 - rating_int) %}
							<span class="far fa-star"></span>
						{% endfor %}
						</div>

						<div class="ratings-count">
							<i class="fas fa-users"></i> {{ book.work_ratings_count }}
						</div>
					</div>

					<div class="book-author">
						<b>Author:</b> <a href="/Author/{{ book.author }}">{{ book.author }}</a>
					</div>

					<div class="book-pub_date">
						<b>Published:</b> {{ book.pub_date }}
					</div>

					<div class="book-description">
						<div class="heading">DESCRIPTION</div>
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
						</p>
					</div>
				</div>
			</div>

			<div class="reviews">
				<div class="reviews-heading">
					<div class="heading float-left">REVIEWS</div>
					<div class="badge float-left">12</div>
				</div>

				<br>

				{% for review in range(5) %}
				<div class="review" id="">
					<div class="reviewer-name float-left">
						Hyuri Pimentel
					</div>
					
					<div class="stars">
					{% set rating_fraction = (book.average_rating % 1)|round(1) %}
					{% set rating_int = (book.average_rating - (book.average_rating % 1|round(1)|round(1)))|int %}

					{% for star in range(rating_int) %}
						<span class="fa fa-star star-checked"></span>
					{% endfor %}
					
					{% if rating_fraction >= 0.5 %}
						<span class="fa fa-star-half star-checked"></span>
					{% endif %}
					
					{% for star in range(5 - rating_int) %}
						<span class="far fa-star"></span>
					{% endfor %}
					</div>

					<br>

					<div class="review-body">
						Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}