{% extends "master_layout.html" %}

{% block title %}
	Page Not Found | Bookviews
{% endblock %}

{% block local_stylesheets %}
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/BV_error_page.css') }}">
	<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/BV_common_header.css') }}">
{% endblock %}

{% block body %}
	<div class="page-container">
		{% include "common_header.html" %}

		<div class="content">
			<div class="message-background">
				<div class="message-heading">
					THE <span>DEAD</span> END.
				</div>
				<div class="message-body font-effect-wallpaper">
					404, Not Found Street
				</div>
			</div>
		</div>
	</div>
{% endblock %}