{% extends "master_layout.html" %}

{% block title %}
	Bookviews | Home
{% endblock %}

{% block local_stylesheet %}
	<link rel="stylesheet" type="text/css" href="static/css/BV_home_page.css">
{% endblock %}

{% block body %}
	<div class="page-container">
		<!-- HEADER -->
		{% include "home_header.html" %}

		<!-- CONTENT -->
		<div class="content">
			<div class="bookviews-logo-big">
				Bookviews
			</div>
			<div class="bookviews-subtitle">
				Book Reviews
			</div>
			
			<form>
				<div class="input-group search-bar-cover mx-auto">
					<input type="input" class="form-control" id="SearchBarInput" placeholder="Search book ISBN, Title or Author">
					<div class="input-group-append">
						<button class="btn btn-primary" type="button">
							<i class="fas fa-search"></i>
						</button>
					</div>
				</div>
			</form>
		</div>
	</div>
{% endblock %}